.wrapper
  = render 'shared/side-contents'
  .main-contents
    .main-header
      .main-content
        %p.main-content__group-name= @group.name
        %ul.main-members 
          %li.main-members__member Member :
          %li.main-members__member name
          %li.main-members__member ,name
      = link_to edit_group_path(@group) do
        .main-header__edit-button Edit
    .main-messages
      = render partial:"shared/main-message"
      = render partial:"shared/main-message"
      = render partial:"shared/main-message"
    .main-footer
      .main-form
        = form_for [@group, @message], html: {class: "input-box"} do |f|
          .input-details
            = f.text_field :body, class: "input-details__message", placeholder: "type a message"
            = f.label :image, for: "upload-icon" do
              = f.file_field :image, class: 'input-details__file', id: "upload-icon"
              = fa_icon "image lg"
          = f.submit 'Send', class: "input-box__button"